<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GlobalTrade</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/cart.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <header>
    <div class="header-left">

      {{!-- <img src="img/globe.jpg" class="imgLogo"> --}}
      <p class="imgLogo"><span>G</span>lobal<span>T</span>rade</p>
    </div>
    <div class="header-center">
      <input class="header-center-input" type="text" placeholder="Search for products, brands and more.."><i
        class="fa fa-search"></i>
    </div>
    <div class="header-right">
      <a class="active" href="#">Login</a>
      <a href="#">more<i class="fa fa-sort-desc"></i></a>
      {{!-- <a href="#">cart<i class="fa fa-shopping-cart"></i></a> --}}
    </div>
    <button id="backBtn">Back</button>

    {{!-- <cart items details> --}}
      <div class="small-items cart page">
        <table>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <tr>
            <td>
              <div class="cart-informtion">
                <img src="pentablet.jpeg">
                <div>
                  <p> The Pen Tablet Medium Bundle delivers a minimalist design that prioritizes workflow, comfort, and
                    intuitive use. It includes the Quick Keys, additional accessories and tools providing a cost
                    effective, efficient, and natural drawing experience.</p>
                  <small>Price: $80.00</small>
                  <br>
                  <br>
                  <a href="">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>$80.00</td>
          </tr>

          <tr>
            <td>
              <div class="cart-informtion">
                <img src="Delllaptops.jpeg">
                <div>
                  <p> Fast Performance, easy to connect anywhere,Ports for any purpose,starts quickly,Power through.</p>
                  <small>Price:$90000
                    {{!-- <p>Unicode:</p>
                    <i style="font-size:24px" class="fa">&#xf156;</i> --}}
                  </small>
                  <br>
                  <br>
                  <a href="">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>$90000</td>
          </tr>

          <tr>
            <td>
              <div class="cart-informtion">
                <img src="oneplusmobile.jpeg">
                <div>
                  <p> Camera: 50MP Main Camera with Sony IMX766 and OIS, 8MP Ultrawide Camera with 120 degree FOV and
                    2MP mono lens with Dual LED Flash; 32MP Front (Selfie) Camera with Sony IMX615
                    Camera Features: AI Scene Enhancement, AI Highlight Video, Slow-motion captures, Dual-view Video,
                    HDR, Nightscape, Portrait mode, Pano, Retouching and exciting filters
                    Display: 6.43 Inches; 90 Hz AMOLED Display with Corning Gorilla Glass 5; Resolution: 2400 X 1080
                    pixels; HDR 10+ Certified
                    Display Features: Ambient Display, AI colour enhancement and Dark mode.</p>
                  <small>Price: $80.00</small>
                  <br>
                  <br>
                  <a href="">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>$80.00</td>
          </tr>
        </table>
      </div>

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>$250.00</td>
            </tr>
            <tr>
            <td>Tax</td>
            <td>$40.00</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$300.00</td>
            </tr>
          
        </table>
      </div>
  </header>


</html>