<html>
    <head>
        <link rel="stylesheet" href="css/cart.css">
    <script src="js/jquery-3.6.0.js"></script>
    </head>

    <body>
        <header>
        <h2>Cart Page</h2>

        <div class="cart-page">
        <table>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <tr>           
            <td>
              <div class="cart-informtion">
                <img src="pentablet.jpg"/>
                <div>
                  <p>Pen Tablet</p>
                  <small>Price: ₹80.00</small>
                  <br>
                  <br>
                  <a href="">Delete</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>₹80.00</td>
          </tr>
          </table>
        
    </header>
    </body>
</html>