<html>

<head>
  <link rel="stylesheet" href="css/cart.css">
  <script src="js/jquery-3.6.0.js"></script>
</head>

<body>
   <header>

        <div class="cart-page">
        <table>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <tr>           
            <td>
              <div class="cart-informtion">
                <img src="img/pentablet.jpg"/>
                <div>
                  <p>Pen Tablet</p>
                  <small>Price: ₹20000</small>
                  <br>
                  <br>
                  <a href="">Delete</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>₹20000</td>
          </tr>
          <br>
          <br>

           <tr>
            <td>
              <div class="cart-informtion">
                <img src="img/Delllaptops.jpg">
                <div>
                  <p>Dell Laptop</p>
                  <small>Price:₹90000
                  </small>
                  <br>
                  <br>
                  <a href="">Delete</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>₹90000</td>
          </tr>
          <br>
          <br>
          <tr>
            <td>
              <div class="cart-informtion">
                <img src="img/tshirt.jpg">
                <div>
                  <p>Red T-Shirt </p>
                  <small>Price:₹2000</small>
                  <br>
                  <br>
                  <a href="">Delete</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" </td>
            <td>₹2000</td>
          </tr>
          </table>
        </div>
        <br>
        <br>
        {{!-- <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>₹175000</td>
            </tr>
            <tr>
            <td>Tax</td>
            <td>₹5000</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>₹180000</td>
            </tr> --}}
          
        </table>
      </div>
        
    </header>
</body>

</html>