<html>

<head>
  <title>Product</title>
  <link rel="stylesheet" href="/css/productPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/jQuery-3.6.0.js"></script>
  <script src="/js/productPage.js"></script>

</head>

<body>



  <div class="card">
    <img src="/img/samsung Galaxy M33 5G.jpg " style="width:70%" align="left">
    <h3>Samsung Galaxy M33 5G (Mystique Green, 6GB, 128GB Storage) | 6000mAh Battery | Upto 12GB RAM with RAM Plus |
      Travel Adapter to be Purchased Separately</h3>
    <div id="rating">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
    <p class="price">₹18,999.00</p>
    <hr>
    <div class="container>"
    <p><b>About this item:</b></p>
    <ul>
      <li>Exynos 1280 Octa Core 2.4GHz 5nm Processor with the 12 band support for a True 5G experience</li>
      <li>16.72 centimeters (6.6-inch) LCD Display, FHD+ resolution, 1080x2400 pixels protected by Gorilla Glass 5</li>
      <li>Versatile Quad camera setup-50MP (F1.8)+ 5MP (F2.2/UW- 123 FOV) + 2MP (F2.4/Depth) + 2MP (F2.4/Macro)
        QuadCamera| 8MP (F1.8) Front Camera</li>
      <li>Massive 6000 mAh Battery | Memory, Storage & SIM: 6GB RAM | 128GB internal memory expandable up to 1TB| SIM 1
        + SIM 2+ Micro SD</li>
      <li>Latest Android v12.0, One UI 4 operating system.</li>
      <li>Intelligent Voice Focus | Power Cool Technology | Auto Data Switching</li>
      <li>Connector type: 3.5mm jack</li>
    </ul>
    </div>
    <p><button>Buy</button>
      <br>
      <button>Add to Cart</button>
    </p>
  </div>

  <hr>
  <h1>Products related to this item</h1>
  <div class="products">
    <div class="card1">
      <img src="/img/samsungS20.jpg" style="width:60%">
      <div class="container">
        <h4><b>Samsung Galaxy S20 FE 5G (Cloud Lavender, 8GB RAM, 128GB Storage) with No Cost EMI & Additional Exchange
            Offers</b></h4>
        <div id="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <p class="price">M.R.P.: ₹74,990.00</p>
      </div>
    </div>

    <div class="card1">
      <img src="/img/oneplus.jpg" style="width:60%" align="center">
      <div class="container">
        <h4><b>OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM, 128GB Storage)</b></h4>
        <div id="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <p class="price">M.R.P.: ₹19,990.00</p>
      </div>
    </div>

    <div class="card1">
      <img src="/img/redme.jpg" style="width:60%" align="center">
      <div class="container">
        <h4><b>Redmi Note 11 Pro + 5G (Phantom White, 6GB RAM, 128GB Storage) | 67W Turbo Charge | 120Hz Super AMOLED
            Display | Additional Exchange Offers | Charger Included| Get 2 Months of YouTube Premium Free!</b></h4>
        <div id="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="price">M.R.P.: ₹24,999.00</p>
      </div>
    </div>



  </div>



</body>

</html>