<html>

<head>
        <title>Login</title>
        <script src="js/jquery-3.6.0.js"></script>
        <script src="js/reg.js"></script>
</head>

<body>
        <form id="regForm">
                <label>Username:</label>
                <input type="text" id="username">
                <br>
                <br>
                <label>Email:</label>
                <input type="email" id="email">
                <br>
                <br>
                <label>Password:</label>
                <input type="password" id="password">
                <br>
                <br>
                <input type="submit" value="Register">
        </form>
</body>

</html>